.main{
    background-color: aqua;
    width: 100%;
    height: 100%;
}
.S1{

    background-color: Blue;
    width: 100%;
    height: 100px;
}
.S2{

    background-color: #164463;
    width: 100%;
    height: 450px;
}
.M1{
    background-image: url(pictures/picture_1.jpg);
    background-size: cover;
    float: left;
    width: 50%;
    height: 100%;

}
.M2{
    background-color: #042436;
    float: right;
    width: 50%;
    height: 100%;
}

.S4{
    background-color: aqua;
   
}
.footer{
    background-color: white;
    width: 100%;
    height: 300px;
}
